body {
  background-color: lightgrey;
  height: 100vh;
  margin: 0;
}

.row {
  width: 100%;
  display: flex;
}

.pixel {
  height: 100%;
  width: 100%;
  background-color: white;
}

.palette {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid black;
}

.top {
  margin-top: 30px;
  height: 80%;
  display: flex;
  justify-content: space-evenly;
}

.b {
  background-color: grey;
  width: 100px;
  height: 15%;
  border-radius: 10%;
  border: 1px solid black;
  margin: 12px 12px 12px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.b:hover {
  cursor: pointer;
}

.container {
  margin: 0 0;
  height: 100%;
  width: 50%;
}

.highlight {
  border: 5px solid black !important;
}

.selected {
  border: 5px solid black;
}

.footer {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  width: 100%;
}

footer {
  background-color: grey;
  border: 1px solid black;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.palette:hover {
  cursor: pointer;
}

.border {
  border: 1px solid black;
}

.button {
  margin: 12px 60px 12px 12px;
  width: 100px;
  height: 15%;
  border: 1px solid black;
  border-radius: 10%;
  background-color: grey;
  color: white;
  display: block;
  font-size: 13pt;
  cursor: pointer;
}

.input-color {
  height: 50px;
  width: 50px;
  background-color: 'white'
}
